<section class="bg-slate-100 border-b-2 p-2 border-gray-300 flex flex-col md:flex-row md:justify-between">
  <div class="flex justify-between">
    <a class="text-2xl font-semibold" href="/">Fiso</a>
    <button class="btn-nav border border-gray-500 px-2 py-1 rounded md:hidden">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
  <nav class="nav flex flex-col md:flex-row h-0 overflow-hidden md:h-full">
    <a class="hover:bg-slate-300 rounded p-2" href="#">item 1</a>
    <a class="hover:bg-slate-300 rounded p-2" href="#">item 2</a>
    <a class="hover:bg-slate-300 rounded p-2" href="#">item 3</a>
  </nav>
</section>

<script>
  const btnNav = document.querySelector('.btn-nav')
  const nav = document.querySelector('.nav')

  btnNav.addEventListener('click', () => {
    nav.classList.toggle('h-0')
  })
</script>